/** Configured For Applets **/

configuration {
	modi: "window,drun,run,ssh";
	theme:"/themes/oxide";
	show-icons: true;
	icon-theme: "Papirus";
	hide-scrollbar:true;
	terminal: "/usr/local/bin/terminator";
	drun-match-fields: "name,generic,exec,categories";
	lines: 12;
	display-drun:       "Apps";
	display-run:        "Run";
	display-window:     "Running Apps";
	font:"UbuntuMono Nerd Font Mono 22";

	
}
